#all {
    display: flex;
    width: 100%;
    flex-shrink: 0;
    flex-direction: row;
}

#all *{
    flex-grow: 1;
}

button {
    width: 50%;
    margin: 10px auto;
}

#second-card {
    width: 98%;
    margin: 0 1%;
}

#first-card {
    width: 98%;
    margin: 0 1%;   
}

form {
    display: flex;
    flex-direction: column;
}

textarea {
    margin: .5% 0 0 0;
}

button {
    width: 50%;
    margin: 10px auto;
}
